{% extends "site/base.html" %}
{% load utils %}

{% block logo %}
	{% if files.logo %}
		<a href="{{ portfolio.url }}" title="{{ dic.moto }}"><span>{{  portfolio.title }}</span>{{ files.logo.render }}</a>
	{% else %}
		<a href="{{ portfolio.url }}" title="{{ dic.moto }}"><span>{{  portfolio.title }}</span></a>
	{% endif %}
{% endblock %}

{% block nav %}
{% endblock %}

{% block content %}
    <div class="span-3 navigation">
        {% nav_anchors nav request.META.PATH_INFO "" %}
    </div>
    <div class="span-3 prepend-1 sub-navigation">
        {% for i in items %}
            <a href="{{ i.url }}" title="{{ i.sub_title }}">{{ i.name }}</a>
        {% endfor %}
    </div>
	<div id="main" class="span-13 prepend-1">
	{% block main %}
	{% endblock %}
	</div>
{% endblock %}
