#content {min-height: 410px;}
.logo {padding: 0 0 30px 160px;}
.logo a{ color: #e9a8e3; font-size: 60px;}

h2{ color: #e9a8e3; font-size: 1.33em; width: 400px; float: left;}
.item_wrap {margin-bottom: 11px;}
.item_wrap-bottom {width: 110px; float: left;}
.item-photos {height: 24px; font-size: 1.33em; color: #e9a8e3; }
a {text-decoration: none;}
.navigation a, .sub-navigation a {display: block; color:black; height: 40px; font-size: 1.33em}
.sub-navigation a {color: #e9a8e3; }
.sub-navigation {min-height: 1px;}
.navigation a:active, .navigation a:hover, .navigation a.active {background: #e9a8e3;}
.sub-navigation a:active, .sub-navigation a:hover, .sub-navigation a.active {text-decoration: underline;}

#footer {text-align: center;}