#content {min-height: 410px;}
.logo {padding: 0 0 30px 160px;}
.logo a{ color: #e9a8e3; font-size: 60px;}
h2{ color: #e9a8e3;}
a {text-decoration: none;}
.navigation a {display: block; color:black; height: 40px; font-size: 1.33em}
.sub-navigation {min-height: 1px;}
.sub-navigation a {display: block; color: #e9a8e3; height: 40px; text-decoration: none; }
.navigation a:active, .navigation a:hover, .navigation a.active {background: #e9a8e3;}
.sub-navigation a:active, .sub-navigation a:hover, .sub-navigation a.active {text-decoration: underline;}